<%- include('header'); -%>
<h1>About page</h1>
<p>Here in this page you can find some contacts of me</p>
<ul>
    <li>sagayaraj8939@gmail.com</li>
    <li>mobile : 7299703455</li>
    <li>will update soon</li>
</ul>
<%- include('footer'); -%>